<!-- Control Sidebar -->
<aside [ngClass]="{
	'control-sidebar': true,
	'control-sidebar-dark': true,
	'control-sidebar-open': _sidebar.getState() | async
}" >
	<!-- Create the tabs -->
	<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
		<ng-container *ngFor="#item of items, #i = index">
			<li [ngClass]="{'active': item.active}">
				<a href="#{{item.id}}" data-toggle="tab">
					<i class="fa fa-{{item.icon}}"></i>
				</a>
			</li>
		</ng-container>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<ng-container *ngFor="#item of items, #i = index">
		<!-- Home tab content -->
		<div [ngClass]="{'active': item.active, 'tab-pane': true}" id="{{item.id}}">
			<ng-container *ngFor="#subitem of item.items, #i = index">
				<!-- COMPONENT -->
				<ng-container *ngIf="subitem.class">
					<li>
						<app-component-loader [class_component]="subitem.class" [data]="subitem.data"></app-component-loader>
					</li>
				</ng-container>

				<ng-container *ngIf="subitem.html">
					{{ subitem.html | safeHtml }}
				</ng-container>

			</ng-container>

		</div>
		</ng-container>
	</div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
               immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
